body {
  background: url('imgs/back.jpg');
  background-position: center;
  background-size: cover;
}
/* ====== INDEX PAGE ======== */
#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12vw;
  background: url('./imgs/indexHeader.jpg');
  background-size: cover;
  background-position: center;
}
#indexHeader {
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.3)
}
#card-border {
  border: 8px;
  border-style: dotted;
  border-color: black;
  background-color: rgb(252,228,236, 0.7)
}
